{% extends 'base.html' %}

{% block title %}Schemas{% endblock title %}

{% block content %}
    <div>
        <a href="{% url 'schema_new' %}" class="btn btn-success ml-2"
           style="float:right;margin-bottom:5%;color:white;text-decoration:none">Add schema</a>
        <h2 style="text-align:left;margin-bottom:5%;">Data schemas</h2>
        <h4 style="text-align:left;float:left;margin-right:5%;">#</h4>
        <h4 style="text-align:centre;float:left;">Title</h4>
        <h6 style="text-align:right;float:right;padding-right:5%;"> Actions </a></h6>
        <hr style="clear:both;"/>
    </div>
    {% for schema in object_list %}
        <div>
            <h4 style="text-align:left;float:left;margin-right:5%;">{{ schema.pk }}</h4>
            <h4 style="text-align:centre;float:left;">{{ schema.title }}</h4>
            <h6 style="text-align:right;float:right;"><a href="{{ schema.get_absolute_url }}delete/" style="color: red;"> Delete </a></h6>
            <h6 style="text-align:right;float:right;padding-right:10%;"><a href="{{ schema.get_absolute_url }}"> Edit scheme </a></h6>
            <hr style="clear:both;"/>
        </div>
    {% endfor %}
{% endblock content %}
